html, body {
    margin: 0px;
}
body {
    background-color:white;
}
#menu {
    background-color: #ffb400;
    padding: 10px;
    margin: 0px;
    color: #ffffff;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#texto {
    text-align: center;
    color: #10245e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#texto2 {
    text-align: center;
    color: #10245e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}